<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  },
  "theme": "classic"
})});
</script>
  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Movie Tracker</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="task">Add Entry</a></li>
          <li><a href="allMovies">Full list</a></li>
          <li><a href="unwatchedMovies">Unwatched Movies</a></li>
          <li><a href="watchedMovies">Watched Movies</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if session['userLog'] %}
          <li><a href="/"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          {% else %}
          <li><a href="signup"><span class="glyphicon glyphicon-edit"></span> Signup</a></li>
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
