<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
  </head>
  <body>
      <h1>Hello, {{ user.name }}!</h1>
  </body>
</html>
