{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
   {% for message in messages %}
     <li>{{ message }} </li>
   {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<h1>Signup</h1>

<form action="" method="post" name="Signup">
  <div class="form-group">
    {{ form.hidden_tag() }}
    <p>Username: {{ form.username}}<br>
  </div>
  <div class="form-group">
  </p> Password: {{ form.password(type="password") }}<br>
  </div>
  <div class="form-group">
  </p> Confirm Password: {{ form.confirmPassword(type="password") }}<br>
  </div>
    <p><input type="submit" value="Sign Up"></p>
</form>

{% endblock %}
